// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Permanent Marker', sans-serif ;
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400; 
    line-height: 1.7;
    color: #777;

    // padding: 3rem; <-- moved to base.scss
    // box-sizing: border-box; <-- moved to base.scss
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    /* prevents animation from moving up */
    backface-visibility: hidden;
    margin-bottom: 6rem;


    // .heading-primary--main
    &--main {
        /*  by default span is inline element (like text) */
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;
    
        /* animation-name & animation-duration --> the only 2 properties required for animation to work */
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    
        /* optional  */
        /* repeats 3 times */
        /* animation-iteration-count: 3;  */
        /* animation-delay: 3s; */

        // PHONE MAIN HEADING
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 4rem;
        }
    }
    
    /* Heading subtext */
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        
    
        /* shorthand */
        animation: moveInRight 2s ease-out;

        // PHONE SUBHEADING
        @include respond(phone) {
            letter-spacing: .5rem;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}


.heading-secondary {
    font-family: 'Lato', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right,darken($color-primary-light, 55%), $color-primary);
    
    // gradient behind text with -webkit- prefi
    // background gets clipped around where the text sits
    background-clip:text;
    -webkit-background-clip: text;
    // to see gradient, must set text color to transparent
    color: transparent;
    letter-spacing: .5rem;
    transition: all .2s;

    
    // TAB-PORT
    @include respond(tab-port) {
        font-size: 3.5rem;
    }
    // PHONE
    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-top: 5rem;
}

.paragraph {
    letter-spacing: .2rem;
    font-size: $default-font-size;
    // make margin after each paragraph except the last one
    &:not(:last-child) {
        margin-bottom: 2rem;
    }

}

.footer {
    text-align: center;
    font-size: 1.4rem;
    
    &__header {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .5rem; 
        color: $color-black;
    }
}