@import url(//fonts.googleapis.com/css?family=Pacifico&display=swap);
.footer {
    padding: 10rem 0 20rem 0;
    background-image: linear-gradient(
        to left top,
        #280e51,
        #392c6a);
    padding: 2rem 0 5rem 0;
    // margin-top: -10rem;
    // z-index: 10;
    // position: relative;

  
    &__list {
        list-style: none;
        margin: 0 auto;
        width: 100%;
    }

    &__item {
        display: inline-block;
        width: 7rem;
        margin-top: 3.5rem;
        
     
        &:not(:last-child) {
            margin-right: 2rem;
        }


        .linkedin-outline, .linkedin-in {    
            transform-origin: 50% 50%;
            transition: 300ms all;
            fill: $color-purple-light;
        }

       .linkedin:hover {
           .linkedin-outline {
                transform: scale(0);
           } 
           .linkedin-in {
               transform: scale(2);
                stroke: $color-purple-light;
                fill: $color-purple-light; 
                opacity: 0;      
           }
        }

        .github-outline, .github-inner, .github-detail {
            transform-origin: 50% 50%;
            transition: 300ms all;
        }

        .github-detail {
            opacity: 0;
        }

        .github:hover {
            .github-outline {
                transform: scale(.5);
                opacity: 0;
            }

            .github-detail {
                opacity: 1;
                transform: scale(0.8) rotate(180deg);

            }
        }


      
        .email-outline, .email-inner, .email-inner-circle {
            transform-origin: 50% 50%;
            transition: 300ms all;
        }

        .email:hover {
            .email-outline {
                transform: scale(1.7);
            }
            .email-inner-circle {
                fill:#f2defd;
            }
            .email-inner {
                stroke:  $color-purple-light;
                fill: #2c1456;
            }
        }

    }
        
 // drop-shadow can only be applied directly to svg element
     // svg:hover {
     //     filter: drop-shadow(12px 12px 7px white);  
     // }
     // end of &__item
    
    &__header {
        border-top: 5px solid $color-black;
        padding-top: 2rem;
        display: inline-block;
        width: 100%;

    }

}