.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary),
        url(../img/hero.jpg);
    /* cover -> width of element will fit the size of viewport */
    background-size: cover;
    background-position: top;
    position: relative;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);


    // .header__text-box
    &__text-box {
        position: absolute;
        /* top & bottom in relation to the parent */
        top: 40%;
        left: 50%;
        /* in relation to the element itself */
        transform: translate(-50%, -50%)
    }
}
