/*  universal selector - selects all elements on the page  */
/* normalizing - start clean */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(213, 181, 232, 0.192),
        #38009255),
        url(../img/hero.jpg);
    /* cover -> width of element will fit the size of viewport */
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}