$color-primary: #38009255;
$color-primary-light: rgba(213, 181, 232, 0.192);


/*  universal selector - selects all elements on the page  */
/* normalizing - start clean */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    /* forcing inheritance */
    box-sizing: inherit;   
}
 
html {
    /* 1 rem = root font size - adjust all the other font sizes*/
    /* root fontsize -- which is in the html selector */
    /* bad practice to set font-size to px */
    /* default browser font size is 16px */
    /* font-size: 10px; */
     /* 10/16 = .625 */
     font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-weight: 400; 
    line-height: 1.7;
    color: #777;
    /* padding: 30px */
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        ($color-primary-light,
        $color-primary),
        url(../img/hero.jpg);
    /* cover -> width of element will fit the size of viewport */
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.header__text-box {
    position: absolute;
    /* top & bottom in relation to the parent */
    top: 40%;
    left: 50%;
    /* in relation to the element itself */
    transform: translate(-50%, -50%)
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    /* prevents animation from moving up */
    backface-visibility: hidden;
}

/* Heading title */
.heading-primary--main {
    /*  by default span is inline element (like text) */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    /* animation-name & animation-duration --> the only 2 properties required for animation to work */
    animation-name: moveInLeft;
    animation-duration: 2s;

    animation-timing-function: ease-out;

    /* optional  */
    /* repeats 3 times */
    /* animation-iteration-count: 3;  */
    /* animation-delay: 3s; */
}

/* Heading subtext */
.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    

    /* shorthand */
    animation: moveInRight 2s ease-out;
}

/* @keyframes name */

@keyframes moveInLeft {
    /* start of animation */
    0% {
        opacity: 0;
        /* neg value from left, pos  val --> from the right */
        transform: translateX(-10rem);
    }
    75% {
        /* pos value --> goes to the right */
        transform: translateX(1.5rem);
    }
    /* end of animation */
    100% {
        opacity: 1;
        /* translate(0) --> what it looks like w/o any animation */
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* start of animation */
    0% {
        opacity: 0;
        /* neg value from left, pos  val --> from the right */
        transform: translateX(10rem);
    }
    75% {
        /* pos value --> goes to the right */
        transform: translateX(-1.5rem);
    }
    /* end of animation */
    100% {
        opacity: 1;
        /* translate(0) --> what it looks like w/o any animation */
        transform: translate(0);
    }
}