@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Media Query Manager
// 0 - 600px : Phone => max width 
// 600 - 900 : Tablet portrait
// 900 - 1200px : Tablet Landscape
// 1200-1800px : normal 
// 1800 + : big desktop => minn width

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media(max-width: 600px) {@content};
    }
    @if $breakpoint == tab-port {
        @media(max-width: 900px) {@content};
    }
    @if $breakpoint == tab-land {
        @media(max-width: 1200px) {@content};
    }
    @if $breakpoint == big-desktop {
        @media(min-width: 1800px) {@content};
    }

}