.card { 
    // PARENT
    // perspective - lower val --> dramatic effect 
    // FUNCTIONALITY
    perspective: 150rem;
    // for firefox
    -moz-perspective: 150rem;
    position: relatve;
    height: 50rem;  // perspective fix

    &__side {
        background-color: $color-white;
        color: $color-white;
        // card height
        height: 50rem;
        // animation effect 
        transition: all 1s ease;

        // stack front&back side ontop of each other
        // always give parent relative position
        //  FRONT BACK CARD
        position: absolute; // removing from natural flow thus parent collapsed and lost height - must specify parent(card) height
        top: 0;  // card position
        left: 0; // card position
        width: 100%;  // width to span the whole area
        backface-visibility: hidden; // prevent card transparency
        border-radius: 3px; // round corners
        box-shadow: 0 1.5rem 4rem rgba($color-black, .8);  //card shadow
        
        // image is overflowing parent - hiding rounded  corners
        overflow: hidden; 
        
        // FRONT OF CARD
        &--front {
            background-color: $color-white;
        }

        // BACK OF CARD
        &--back { 
            // already rotated @ 180 deg
            // background-color: skyblue;
            transform: rotateY(180deg);

            
            &-1 {
                // CARD 1 BACK COLOR
                background-image: linear-gradient(to right bottom,
                $color-pink, lighten($color-blue, 20%));
            }

            &-2 {
                background-image: linear-gradient(to left bottom,
                lighten($color-blue, 35%), $color-purple);
            }

            &-3 {
                background-image: linear-gradient(
                rgba($color-black,.1) 90%,
                rgba($color-white, .1) 10%), url(../img/brick.jpg);
            }
            &-4 {
                background-image: linear-gradient(to left bottom,black 90%,white 10%);
            }
            &-5 {
                background-image: linear-gradient($color-neon-yellow
               95%,  white 10%);
            }
            &-6 {
                background-image: linear-gradient(to right bottom, #d8d8d8 90%,orange 10%);
            }

        }
    }
    
    // .card:hover  then .card__side will transform 
    &:hover &__side--front {
        // rotates on the Y-axis
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover; // for all images
        height: 23rem;
        // blend 
        background-blend-mode: overlay;

        -webkit-clip-path: polygon(0 0, 100% 0,  100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0,  100% 85%, 0 100%);
        
        // fix for overflow:hidden dying because of clip-path
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        
        &--1 {
            // from the CSS folder
            background-image: linear-gradient(to right bottom,
            $color-secondary-light, $color-secondary-dark), url(../img/game-on.jfif);
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            $color-purple, $color-purple), url(../img/map.jpg);
            background-position: center;
            background-blend-mode: soft-light;
        }

        &--3 {
        background-image: linear-gradient(to right bottom, 
            rgba($color-black, .2), 
            rgba($color-black, .5)), url(../img/brick.jpg);
            background-position: center;
            background-size: 350%;
        }

        &--4 {
            background-color: black;
        }
        
        &--5 {
            background-color:$color-neon-yellow;
        }

        &--6 {
            background-image: linear-gradient(to right bottom, 
            orange, orange), url(../img/crunchyroll-logo.png);
            background-position: center;
            background-size: cover;
            background-blend-mode: hue;
        }
    }
    


    // CARD HEADING
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        // text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 10rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    // new element 
    &__heading-span {
        padding: 1rem 1.5rem;
        // aligns the heading title- removes space at end -  1 elements in 2 box both styled in same way
        // applies all declaration to all the selector toall boxes in element
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        
        &--1 {
            font-family: 'Permanent Marker', sans-serif;
            color: $color-yellow;
            background: rgba($color-blue, 0.3);
        }

        &--2 {
            font-size: 2.5rem;
            color: $color-white;
            font-weight: 700;
            background: rgba($color-purple, .9);
        }
        
        &--3 {
            color: $color-white;
            text-align: center;
            font-weight: 200;
            font-size: 3.8rem;
            font-family: 'Pacifico', cursive;

            text-shadow: 0 -40px 100px, 
                0 0 2px, 
                0 0 1em  $color-neon-yellow,
                0 0 .2em  $color-neon-yellow,
                0 0 0.1em  $color-neon-yellow, 
                0 15px 3px $color-black;    
        }

        &--4 {
            font-family: 'Rock Salt', cursive;
            color: $color-white;
        }

        &--5 {
            font-family: 'Libre Barcode 39 Text', cursive;
            font-weight: 550;
            font-size: 5rem;
            color: black;
            position: absolute;
            top: -5rem!important;
            right: 0rem;
            line-height: 6rem;
        }
        &--6 {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 800;
            position: absolute;
            top: -1rem;
            right: 0rem;
            color:black;
            text-transform: uppercase;
        }
    }

    &__details {
        padding: 3rem;
        color: $color-black;

        ul {
           list-style: none;
            width: 80%;
            // center block element in block
             margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    &__text-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }


    &__text-madewith {
        text-transform: uppercase;
        font-size: 1.4rem;
        
    }

    &__text-technology {
        font-size: 3rem;
        font-weight: 100;
    }


    @include respond(tab-port) {
        border-radius: 3px; // round corners
        height: auto;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .8);  //card shadow
    
        &__side {
            height: auto;
            position: relative; // no longer have sides occupying the space 
            box-shadow: none;
            

            // BACK OF CARD
            &--back { 
                // already rotated @ 180 deg
                // background-color: skyblue;
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            }
        }
        
        // .card:hover  then .card__side will transform 
        &:hover &__side--front {
            // rotates on the Y-axis
            transform: rotateY(0); 
        }

        &__details {
            padding: 1rem 3rem;
        }
    
        // BACK SIDE STYLING
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }
    
        &__text-box {
            margin-bottom: 3rem;
        }
    
    
        &__text-madewith {
           
            text-transform: uppercase;
            font-size: 1.4rem;
            
        }
    
        &__text-technology {
            font-size: 2rem;
            font-weight: 100;
        }

    }
}